sudo: false
language: ruby
cache: bundler
rvm:
  - 2.4.2

install:
  # Install Jekyll and dependencies
  - bundle install

before_script:
  - git config --global user.email "zzangu0703@naver.com"
  - git config --global user.name "vedivero"

script: bundle exec rake site:deploy --quiet #--trace

# Generate your secure token with the travis gem:
# get Github token from your Travis CI profile page
# gem install travis
# GH_TOKEN from https://github.com/settings/tokens
# travis encrypt 'GIT_NAME="YOUR_USERNAME" GIT_EMAIL="YOUR_EMAIL" GH_TOKEN=YOUR_TOKEN'
env:
  global:
    secure: "TyWFkYzc5DjqvQT1FFr+7GJAJqz8IbgZbtY0cnTfvvqF6gCG/GKdb1eGaJctNmBgqta08c/BpNS6vmvfGtPU3I4rr/HdVi0qflhoczVcKJBO3xXqr94YorCIsYptNmwKcdyVw6z8V845VDztY7XPuF5CyEHgm8/3bry03KK2mEmT8eJp8e3wwzypdtkTr6wkxYzIxaMK/Bk+bJB54481pb6uet6z2P1
XDxAUyy2KkZDeUfEJk1dCbcGeOSHlqU5r/qIUAZeWfVujFmCLCUKQsjmP5v+xpdMmzMChspmufF7CIq56uxN59LVAM/DWGbwoPu/AV61SYXiL5VWn0zhZ12QAZpTzxlQ7UqCdUypyDiNEWGhlyuvS90+NZatkaAQds43P2t3YHtS3Pb/PjV7PzZKYH2xKN2jLw5zUCGJbRSYMeuxze1bBxRXPnmzMUr7W0XLNFLFkY
VMPsGE+10EMkEdzHAAY0obR2AbZgZSCtq9Us4Wp7PgwWE1/NDweC9qX9cIqT/mwwuhynnCfd9IqaYpukDzworMNZOEULPCujfnzeETiA7VQOiPE0FTx3T6W9lelHROTBGCYSOtauUL94hVm10ss3Xy4yRydv+w5HI0+KGFpVhPzuk55GpaBDeH1zHC1WAt1H77DLvYOz/YUkxEOPGVle27SwISQ08HAvvA="
branches:
  only:
    - master